.error-block {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.error-block_text {
  font-size: 20px;
  font-weight: bold;
  color: red;
  text-align: center;
}

.error-block_link {
  color: var(--main-green-color);
  border-radius: 15px;
  border: 1px solid var(--main-green-color);
  text-decoration: none;
  padding: 12px 20px;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.error-block_link:hover {
  color: white;
  background-color: var(--main-green-color);
}
